<!doctype html>

<html>
<head>
	<title>Welcome to iNQUery</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/iNQuery.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

	<script src = "js/jquery-1.11.0.js"></script>
	<script src = "js/bootstrap.js"></script>
	<script src = "js/hci-friends.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<a name = "top">
	<body>

	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">iNQuery</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="senateSelect">Compare Records</a></li>
	        <li><a href="lawsgallery">Laws Gallery</a></li>
	        <li><a href="gallery">Senators Gallery</a></li>
	        <li><a href="help">User FAQ Guide</a></li>
		    <form class="navbar-form navbar-left" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Find Representative">
		      </div>
		      <button type="submit" class="btn btn-default">Submit</button>
		    </form>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
<!-- 		<div class="jumbotron">
			<h3 class="inContainer">Welcome to iNQuery</32>
			
			<button id="testjs" class="btn btn-primary btn-lg">Test Javascript</button>
		</div> -->

		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->

		{{#each buttons}}




		<div class="row">
			<div class="col-xs-12">
				<div class="project" id="project" + "{{projectNumber}}">
					<a href="{{url}}" class="thumbnail">
						<img src="{{imageURL}}" class="img-circle">
						<button type="button" class="btn btn-info btn-xs">{{name}}</button>
					</a>
				</div>
			</div>
			{{/each}}

			<!--  <div class="col-md-6">
				<div class="project" id="project2">
					<a href="governorselect.html" class="thumbnail">
						<img src="../images/nga.logo.jpg" alt="Lorem Pixel image" class="img">
						<button type="button" class="btn btn-default">Governors</button>
					</a>
				</div>
			</div>
		</div> -->

	
		<hr>
		<div class="span7 text-right">
		  <a class="btn btn-default btn-xs" href="about" role="button">
		  About iNQuery</a>
		  <!-- <li><a href="#top">&uarr; Top</a></li> -->

		</div>



	


  <script src="https://code.jquery.com/jquery.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48537424-2', { 'cookieDomain': 'none' });
  ga('send', 'pageview');

</script>
</body>
</html>
