<!doctype html>

<html>
<head>
  <title>Senator Comparison</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/iNQuery.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
<meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="css/jquery-ui.css">
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/jquery-ui.js"></script>
  



  <script>

function getPost()
   {
      var fname = document.getElementById("fname").value;
      var lname = document.getElementById("lname").value;
          var v = {
       "name": {
           "firstname": fname,
           "lastname": lname 
       }
    };
   }
</script>












  <script>
  $(function() {
    var availableTags = [
      "Barbra Boxer (Dem - CA)",
      "Diane Feinstein (Dem - CA)",
      "Dean Heller (Rep - NV)",
      "Harry Reid (Dem - NV)",
      "Jeff Flake (Rep - AZ)",
      "John McCain (Rep - AZ)",
      "Jeff Merkley (Dem - OR)",
      "Ron Wyden (Dem - OR)"
    ];

    $( "#names1" ).autocomplete({
      source: availableTags
    });

    $( "#names2" ).autocomplete({
      source: availableTags
    });

    $( "#find" ).autocomplete({
      source: availableTags
    });

  });

  var senator1 = "nothing";
  var senator2 = "nothing";
  </script>


</head>

<body>



  <a name = "top">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" href="/">iNQuery</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
<!--           <li class="active"><a href="#">Senator Comparison</a></li>
 -->          <li><a href="lawsgallery">Laws Gallery</a></li>
          <li><a href="gallery">Senators Gallery</a></li>
          <li><a href="help">User FAQ Guide</a></li>
<!--         <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id = "find" placeholder="Find Representative">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container" id="mainContainer">


  <form id="projectForm" role="form">



  

  <h4 class="bigh3">Compare Senators:</h4>
    <div class="form-group">
      <label for="value">First Senator:</label>
      <input type="value" class="form-control" id="names1" placeholder="Name, State, or Party" >
    </div>



    <div class="form-group">
      <label for="value">Second Senator:</label>
      <input type="value" class="form-control" id="names2" placeholder="Name, State, or Party">
    </div>

    <h4 class="bigh3">On This Issue:</h4>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="#project1">
        Federal Spending
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="#project2">
        Education
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="#project6">
        Tax Policy
      </label>
    </div>





    <div class="span7 text-center">
       <!-- href="results" -->
   <a><button id="submitBtn" type="button" class="btn btn-default" onClick="doSomething();">Submit</button></a>
    </div>
  </form>
  <hr>
  <ul class="pager">
  <li class="previous"><a href="#">&larr; Back</a></li>
  <li><a id="poop" href="#top">&uarr; Top</a></li>

  </ul>
</div>

  <script src="../js/bootstrap.min.js"></script>
  <script src = "../js/iNQuery.js"></script>


<script>
  function doSomething(){
    senator1 = (document.getElementById('names1').value).toString();
    senator2 = (document.getElementById('names2').value).toString();
    $('#mainContainer').hide();
    $('#showthis').show();

    if(document.getElementById('optionsRadios1').checked)
    {
      $('#whichLaw').html('Federal Spending');
      var checked = 'Federal Spending';
    }

    else if(document.getElementById('optionsRadios2').checked)
    {
      $('#whichLaw').html('Education');
      var checked = 'Education';
    }

    else 
    {
      $('#whichLaw').html('Tax Policy');
      var checked = 'Tax Policy';
    }



    if(checked == 'Federal Spending')
    {
$.getJSON( "senatorsJSONDisplay", function( data ) {
  var totalSenators = data;
  $.each( totalSenators, function( key, val ) {
    $.each(val, function(key2, val2) {
      //alert("This is within each key2" + key2 + "with val: " + val2);


    var checkFlag = 0;

      // This will give you key and value pairs for name: and the actual name
      $.each(val2, function(key3, val3){
        //alert("This is within each key3: " + key3 + "with val: " + val3); 
        if(val3 == senator1)
        {
          $('#senator1').html(senator1);
          checkFlag = 1;

        }


        //alert("we're outside and the flag is: " + checkFlag);


         if(key3 == "FederalSpending")
        {
          if(checkFlag == 1)
          {

            $.each(val3, function(key4, val4) 
            {
                  //alert("4th nested " + key4 + ": " + val4);
                  // This is the law and the response.


                  // Variable is to keep track of the coordinate we are filling in.
                  var whichRowXCol = 0; 
                  $.each(val4, function(key5, val5){
                   //alert("5th nested " + key5 + " : " + val5);
                    whichRowXCol = whichRowXCol + 1;
                    $('#x' + whichRowXCol).html(key5);

                    if (val5 == 'Yea')
                    {
                      $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-ok"></span></td>');
                    }

                    else
                    {
                      $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-remove"></span></td>');
                    }

                  });

            });
            checkFlag = 0;
          } 
        }


      });
    });

  });





$.each( totalSenators, function( key, val ) {
    $.each(val, function(key2, val2) {
      //alert("This is within each key2" + key2 + "with val: " + val2);


    var checkFlag = 0;

      // This will give you key and value pairs for name: and the actual name
      $.each(val2, function(key3, val3){
        //alert("This is within each key3: " + key3 + "with val: " + val3); 
        if(val3 == senator2)
        {
          $('#senator2').html(senator2);
          checkFlag = 1;

        }


        //alert("we're outside and the flag is: " + checkFlag);


         if(key3 == "FederalSpending")
        {
          if(checkFlag == 1)
          {

            $.each(val3, function(key4, val4) 
            {
                  //alert("4th nested " + key4 + ": " + val4);
                  // This is the law and the response.


                  // Variable is to keep track of the coordinate we are filling in.
                  var whichRowXCol = 5; 
                  $.each(val4, function(key5, val5){
                   //alert("5th nested " + key5 + " : " + val5);
                    whichRowXCol = whichRowXCol + 1;
                    if (val5 == 'Yea')
                    {
                      $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-ok"></span></td>');
                    }

                    else
                    {
                      $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-remove"></span></td>');
                    }

                  });

            });
            checkFlag = 0;
          } 
        }


      });
    });

  });




 

});

    }

    else if(checked == 'Education')
    {
        $.getJSON( "senatorsJSONDisplay", function( data ) {
          var totalSenators = data;
          $.each( totalSenators, function( key, val ) {
            $.each(val, function(key2, val2) {
              //alert("This is within each key2" + key2 + "with val: " + val2);


            var checkFlag = 0;

              // This will give you key and value pairs for name: and the actual name
              $.each(val2, function(key3, val3){
                //alert("This is within each key3: " + key3 + "with val: " + val3); 
                if(val3 == senator1)
                {
                  $('#senator1').html(senator1);
                  checkFlag = 1;

                }


                //alert("we're outside and the flag is: " + checkFlag);


                 if(key3 == "Education")
                {
                  if(checkFlag == 1)
                  {

                    $.each(val3, function(key4, val4) 
                    {
                          //alert("4th nested " + key4 + ": " + val4);
                          // This is the law and the response.


                          // Variable is to keep track of the coordinate we are filling in.
                          var whichRowXCol = 0; 
                          $.each(val4, function(key5, val5){
                           //alert("5th nested " + key5 + " : " + val5);
                            whichRowXCol = whichRowXCol + 1;
                            $('#x' + whichRowXCol).html(key5);

                            if (val5 == 'Yea')
                            {
                              $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-ok"></span></td>');
                            }

                            else
                            {
                              $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-remove"></span></td>');
                            }

                          });

                    });
                    checkFlag = 0;
                  } 
                }


              });
            });

          });





        $.each( totalSenators, function( key, val ) {
            $.each(val, function(key2, val2) {
              //alert("This is within each key2" + key2 + "with val: " + val2);


            var checkFlag = 0;

              // This will give you key and value pairs for name: and the actual name
              $.each(val2, function(key3, val3){
                //alert("This is within each key3: " + key3 + "with val: " + val3); 
                if(val3 == senator2)
                {
                  $('#senator2').html(senator2);
                  checkFlag = 1;

                }


                //alert("we're outside and the flag is: " + checkFlag);


                 if(key3 == "Education")
                {
                  if(checkFlag == 1)
                  {

                    $.each(val3, function(key4, val4) 
                    {
                          //alert("4th nested " + key4 + ": " + val4);
                          // This is the law and the response.


                          // Variable is to keep track of the coordinate we are filling in.
                          var whichRowXCol = 5; 
                          $.each(val4, function(key5, val5){
                           //alert("5th nested " + key5 + " : " + val5);
                            whichRowXCol = whichRowXCol + 1;
                            $('#x' + whichRowXCol).html(key5);

                            if (val5 == 'Yea')
                            {
                              $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-ok"></span></td>');
                            }

                            else
                            {
                              $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-remove"></span></td>');
                            }

                          });

                    });
                    checkFlag = 0;
                  } 
                }


              });
            });

          });




         

        });







    }

    else
    {



          $.getJSON( "senatorsJSONDisplay", function( data ) {
                    var totalSenators = data;
                    $.each( totalSenators, function( key, val ) {
                      $.each(val, function(key2, val2) {
                        //alert("This is within each key2" + key2 + "with val: " + val2);


                      var checkFlag = 0;

                        // This will give you key and value pairs for name: and the actual name
                        $.each(val2, function(key3, val3){
                          //alert("This is within each key3: " + key3 + "with val: " + val3); 
                          if(val3 == senator1)
                          {
                            $('#senator1').html(senator1);
                            checkFlag = 1;

                          }


                          //alert("we're outside and the flag is: " + checkFlag);


                           if(key3 == "TaxPolicy")
                          {
                            if(checkFlag == 1)
                            {

                              $.each(val3, function(key4, val4) 
                              {
                                    //alert("4th nested " + key4 + ": " + val4);
                                    // This is the law and the response.


                                    // Variable is to keep track of the coordinate we are filling in.
                                    var whichRowXCol = 0; 
                                    $.each(val4, function(key5, val5){
                                     //alert("5th nested " + key5 + " : " + val5);
                                      whichRowXCol = whichRowXCol + 1;
                                      $('#x' + whichRowXCol).html(key5);
                                      if (val5 == 'Yea')
                                      {
                                        $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-ok"></span></td>');
                                      }

                                      else
                                      {
                                        $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-remove"></span></td>');
                                      }

                                    });

                              });
                              checkFlag = 0;
                            } 
                          }


                        });
                      });

                    });





                  $.each( totalSenators, function( key, val ) {
                      $.each(val, function(key2, val2) {
                        //alert("This is within each key2" + key2 + "with val: " + val2);


                      var checkFlag = 0;

                        // This will give you key and value pairs for name: and the actual name
                        $.each(val2, function(key3, val3){
                          //alert("This is within each key3: " + key3 + "with val: " + val3); 
                          if(val3 == senator2)
                          {
                            $('#senator2').html(senator2);
                            checkFlag = 1;

                          }


                          //alert("we're outside and the flag is: " + checkFlag);


                           if(key3 == "TaxPolicy")
                          {
                            if(checkFlag == 1)
                            {

                              $.each(val3, function(key4, val4) 
                              {
                                    //alert("4th nested " + key4 + ": " + val4);
                                    // This is the law and the response.


                                    // Variable is to keep track of the coordinate we are filling in.
                                    var whichRowXCol = 5; 
                                    $.each(val4, function(key5, val5){
                                     //alert("5th nested " + key5 + " : " + val5);
                                      whichRowXCol = whichRowXCol + 1;
                                      if (val5 == 'Yea')
                                      {
                                        $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-ok"></span></td>');
                                      }

                                      else
                                      {
                                        $('#' + whichRowXCol).html('<td><span class="glyphicon glyphicon-remove"></span></td>');
                                      }

                                    });

                              });
                              checkFlag = 0;
                            } 
                          }


                        });
                      });

                    });




                   

                  });
    }
}
</script>


          <div class="container" id="showthis" style= "display:none">
              



              <h4 class="leftBold">Your Comparison:</h4>
              
                  <table class="table table-bordered">
                    <tr>
                      <th id="whichLaw">Law</th>
                      <th id="senator1"></th>
                      <th id="senator2"></th>
                    </tr>
                  <tr>
                    <td id="x1"></td>
                      <td id="1">
                        
                      </td>
                      <td id="6"></td>
                  </tr>
                  <tr>
                    <td id="x2"></td>
                      <td id="2"></td>
                      <td id="7"></td>
                  </tr>
                  <tr>
                    <td id="x3"></td>                      
                      <td id="3"></td>
                      <td id="8"></td>
                  </tr>
                  <tr>
                    <td id="x4"></td>
                      <td id="4"></td>
                      <td id="9"></td>
                  </tr>

                  <tr>
                    <td id="x5"></td>
                      <td id="5"></td>
                      <td id="10"></td>
                  </tr>
                  </table>
              

              <hr>
              <ul class="pager">
              <li class="previous"><a href="senateSelect">&larr; Back</a></li>
              <li><a href="#top">&uarr; Top</a></li>
              </ul>
            </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48770970-1', 'inquery5.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>


