<!doctype html>

<html>
<head>
	<title>Welcome to iNQUery</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/iNQuery.css" rel="stylesheet">

  	<script src = "js/jquery-1.11.0.js"></script>
  	<script src = "js/bootstrap.js"></script>
  	<script src = "js/hci-friends.js"></script>        
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">iNQuery</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li><a href="senateSelect">Compare Records</a></li>
	        <li><a href="lawsgallery">Laws Gallery</a></li>
	        <li><a href="gallery">Senators Gallery</a></li>
	        <li><a href="help">User FAQ Guide</a></li>
		    <form class="navbar-form navbar-left" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Find Representative">
		      </div>
		      <button type="submit" class="btn btn-default">Submit</button>
		    </form>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h2 class="inContainer">Comparison</h2>
			<h4 class="inContainer">Comparison of your two chosen senators</h4>
			<!-- <button id="testjs" class="btn btn-primary btn-lg">Test Javascript</button> -->
		</div>


		<h4 class="leftBold">Your Comparison:</h4>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->

  			<table class="table table-bordered">
    			<tr>
		  			<th>Law</th>
		  			<th>Barbra Boxer (Vote)</th>
		  			<th>Diane Feinstein (Vote)</th>
					</tr>
				<tr>
					<td><a href="http://thomas.loc.gov/cgi-bin/query/D?c113:4:./temp/~c113Ppbmgx::">S540: Raise debt ceiling</a></td>
		  			<td>
		  				<span class="glyphicon glyphicon-ok"></span>
		  			</td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td><a href="http://thomas.loc.gov/cgi-bin/query/D?c113:4:./temp/~c113Ppbmgx::">S1963: Repeal portions of earlier spending bill</a></td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td><a href="http://thomas.loc.gov/cgi-bin/query/z?c113:S.1845:">S1845: Extend unemployment benefits</a></td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td><a href="http://thomas.loc.gov/cgi-bin/query/D?c113:1:./temp/~c113UhFy0e::">HJ106: Extends short-term spending bill</a></td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
		  			<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
  			</table>
		
		<div class="span7 text-center">
			<p style="color:red;font-size:25px;"><strong>100%</strong></p>
		</div>
		<hr>
		<ul class="pager">
		<li class="previous"><a href="javascript:history.go(-1)">&larr; Back</a></li>
		</ul>

  <script src="../js/bootstrap.min.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/lightbox-2.6.min.js"></script>
  <script src = "../js/iNQuery.js"></script>
</body>
</html>
