/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     /*border: 1px dotted gray;*/
     padding: 20px;
     background-color:#B8DBFF;
}

.inContainer {
     text-align: center;
}

.thumbnail {
    background-color: #B8DBFF;
}

.leftBold {
    text-align: left;
    font-weight: bold;
}

h4 {
     text-align: center;
}

.jumbotron {
	position: relative;
	background: none;
    height: 70px;
   


}

.jumbotron:after {
     content:"";
     background: url("../images/banner.jpg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
     text-align: center;
}

.project a {
     text-align: center;
     margin-left: auto ;
     margin-right: auto ;
}

.jumbotron p.active 
{
     color: #1f6ddd;
}

form {
    display: inline;
}

.status
{
    display: inline;
    text-align: center;
}

.project img {
    width: 45%;
    height: 45%;
}
/*.project {
    width:30px;
    height:300px;

}*/
.row img {
    width:70%;
    height:70%;
}


.navbar-default {
    border-color: #FFFFFF;
    background-color: #e0162b;

}
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #B8DBFF;
}
.navbar-default .navbar-text {
    color: #0052a5;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #B8DBFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eaeaea;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #eaeaea;
    background-color: #c0392b;
}
.navbar-default .navbar-toggle {
    border-color: #B8DBFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #0052a5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #FFFFFF;
    background-color: #FFFFFF;

}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
        color: #1E90FF;
        
}


.navbar-default .navbar-link {
    color: #0052a5;
}
.navbar-default .navbar-link:hover {
    color: #eaeaea;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {

        color: #0052a5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {

        color: #eaeaea;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        
        color: #eaeaea;
        background-color: #c0392b;
    }
}